## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [6]:
lista_ciudades=['Buenos Aires','Londres','New York','Cordoba','Madrid','Barcelona']
print(lista_ciudades)

['Buenos Aires', 'Londres', 'New York', 'Cordoba', 'Madrid', 'Barcelona']

2) Imprimir por pantalla el segundo elemento de la lista

In [7]:
print(lista_ciudades[1])

Londres

3) Imprimir por pantalla del segundo al cuarto elemento

In [8]:
print(lista_ciudades[1:4])

['Londres', 'New York', 'Cordoba']

4) Visualizar el tipo de dato de la lista

In [9]:
type(lista_ciudades)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [10]:
print(lista_ciudades[2:])

['New York', 'Cordoba', 'Madrid', 'Barcelona']

6) Visualizar los primeros 4 elementos de la lista

In [12]:
print(lista_ciudades[:4])

['Buenos Aires', 'Londres', 'New York', 'Cordoba']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [15]:
lista_ciudades.append('Rio Cuarto')
lista_ciudades.append('Cordoba')
print(lista_ciudades)

['Buenos Aires', 'Londres', 'New York', 'Cordoba', 'Madrid', 'Barcelona', 'Rio Cuarto', 'Rio Cuarto', 'Cordoba', 'Rio Cuarto', 'Cordoba']

8) Agregar otra ciudad, pero en la cuarta posición

In [21]:
lista_ciudades.insert(3,'Chicago')
print(lista_ciudades)

['Buenos Aires', 'Londres', 'New York', 'Chicago', 'Chicago', 'Chicago', 'Cordoba', 'Madrid', 'Barcelona', 'Rio Cuarto', 'Rio Cuarto', 'Cordoba', 'Rio Cuarto', 'Cordoba']

9) Concatenar otra lista a la ya creada

In [24]:
lista_ciudades.extend(['Bilbao','Los Angeles'])
print(lista_ciudades)

['Buenos Aires', 'Londres', 'New York', 'Chicago', 'Chicago', 'Chicago', 'Cordoba', 'Madrid', 'Barcelona', 'Rio Cuarto', 'Rio Cuarto', 'Cordoba', 'Rio Cuarto', 'Cordoba', 'Bilbao', 'Los Angeles', 'Bilbao', 'Los Angeles']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [25]:
lista_ciudades.index('Cordoba')

6

11) ¿Qué pasa si se busca un elemento que no existe?

In [26]:
lista_ciudades.index('Dianamarca')

ValueError: 'Dianamarca' is not in list

12) Eliminar un elemento de la lista

In [27]:
lista_ciudades.remove('Cordoba')

13) ¿Qué pasa si el elemento a eliminar no existe?

In [28]:
lista_ciudades.remove('DiNAMARCA')

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [29]:
ultimo_element=lista_ciudades.pop()
print(ultimo_element)

Los Angeles

15) Mostrar la lista multiplicada por 4

In [30]:
print(lista_ciudades*4)

['Buenos Aires', 'Londres', 'New York', 'Chicago', 'Chicago', 'Chicago', 'Madrid', 'Barcelona', 'Rio Cuarto', 'Rio Cuarto', 'Cordoba', 'Rio Cuarto', 'Cordoba', 'Bilbao', 'Los Angeles', 'Bilbao', 'Buenos Aires', 'Londres', 'New York', 'Chicago', 'Chicago', 'Chicago', 'Madrid', 'Barcelona', 'Rio Cuarto', 'Rio Cuarto', 'Cordoba', 'Rio Cuarto', 'Cordoba', 'Bilbao', 'Los Angeles', 'Bilbao', 'Buenos Aires', 'Londres', 'New York', 'Chicago', 'Chicago', 'Chicago', 'Madrid', 'Barcelona', 'Rio Cuarto', 'Rio Cuarto', 'Cordoba', 'Rio Cuarto', 'Cordoba', 'Bilbao', 'Los Angeles', 'Bilbao', 'Buenos Aires', 'Londres', 'New York', 'Chicago', 'Chicago', 'Chicago', 'Madrid', 'Barcelona', 'Rio Cuarto', 'Rio Cuarto', 'Cordoba', 'Rio Cuarto', 'Cordoba', 'Bilbao', 'Los Angeles', 'Bilbao']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [32]:
tupl=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(tupl))

<class 'tuple'>

17) Imprimir desde el índice 10 al 15 de la tupla

In [35]:
print(tupl[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [39]:
print(20 in tupl)
print(30 in tupl)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [42]:
element='Paris'
if (element in lista_ciudades):
    print('Si esta')
else:
    lista_ciudades.append(element)
print(lista_ciudades)

Si esta
['Buenos Aires', 'Londres', 'New York', 'Chicago', 'Chicago', 'Chicago', 'Madrid', 'Barcelona', 'Rio Cuarto', 'Rio Cuarto', 'Cordoba', 'Rio Cuarto', 'Cordoba', 'Bilbao', 'Los Angeles', 'Bilbao', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [44]:
print(lista_ciudades.count('Cordoba'))
print(tupl.count(5))

2
1

21) Convertir la tupla en una lista

In [46]:

print(list(tupl))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [47]:
primer=tupl[0]
segundo=tupl[1]
tercero=tupl[2]
print(primer)
print(segundo)
print(tercero)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [50]:
dicc = {  'Ciudad': lista_ciudades, 
'País': ['Brasil','Paraguay','Ecuador','Uruguay','Chile','Perú','Venezuela','Colombia','Méjico','Uruguay','España','Italia','Francia'], 
'Continente' : ['América','América','América','América','América','América','América','América','América','América','Europa','Europa','Europa']}
print(dicc)

{'Ciudad': ['Buenos Aires', 'Londres', 'New York', 'Chicago', 'Chicago', 'Chicago', 'Madrid', 'Barcelona', 'Rio Cuarto', 'Rio Cuarto', 'Cordoba', 'Rio Cuarto', 'Cordoba', 'Bilbao', 'Los Angeles', 'Bilbao', 'Paris'], 'País': ['Brasil', 'Paraguay', 'Ecuador', 'Uruguay', 'Chile', 'Perú', 'Venezuela', 'Colombia', 'Méjico', 'Uruguay', 'España', 'Italia', 'Francia'], 'Continente': ['América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'Europa', 'Europa', 'Europa']}

24) Imprimir las claves del diccionario

In [52]:
print(dicc.keys())

dict_keys(['Ciudad', 'País', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [60]:
print(dicc['Ciudad'])

['Buenos Aires', 'Londres', 'New York', 'Chicago', 'Chicago', 'Chicago', 'Madrid', 'Barcelona', 'Rio Cuarto', 'Rio Cuarto', 'Cordoba', 'Rio Cuarto', 'Cordoba', 'Bilbao', 'Los Angeles', 'Bilbao', 'Paris']