## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [4]:
numero = 1
print(numero)

1

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
print(type(numero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
nombre = 'lucas'

5) Crear una variable que contenga un número complejo

In [7]:
num_comp = 5+6j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
print(type(num_comp))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
variable_pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
variable1 = 'True'
variable2  = True
#No es lo mismo ya que uno es un str y el otro un bool.

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [10]:
print(type(variable1))
print(type(variable2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
suma = 16 + 1.5
print(suma)

17.5

11) Realizar una operación de suma de números complejos

In [16]:
sum1=1 + 1j
sum2= 2 +2j
print(sum1+sum2)

(3+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [17]:
num_real= 1.5
num_complex=1+1j
print(num_real+num_complex)

(2.5+1j)

13) Realizar una operación de multiplicación

In [18]:
multiplicacion=2*5
print(multiplicacion)

10

14) Mostrar el resultado de elevar 2 a la octava potencia

In [19]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [20]:
division = 27/4
print(division)

6.75

16) De la división anterior solamente mostrar la parte entera

In [22]:
division = 27//4
print(division)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [23]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [24]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [25]:
'lu' + 'cas'

'lucas'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
"2"==2
#ocurre esto porque son distintos tipos de datos

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
int("2")
2==2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [32]:
a = float('3,8')
#esta mal escrito el tipo de dato

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [33]:
numero1 = 3
numero1-=1
print(numero1)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [34]:
1 << 2
# El número binario 1 se desplaza dos posiciones hacia la izquierda y se rellena con ceros a la derecha. El resultado de esta operación es 4.

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [36]:

#No esta permitido porque estamos intentando sumar dos tipos de datos distintos. Si fueran del mismo tipo, depende el tipo de dato arrojaria un resultado distinto pero no un error

22

26) Realizar una operación válida entre valores de tipo entero y string

In [38]:
variable1='2'
variable2=2
print(variable1*variable2)

22